/* *{
    text-align:center;
    background: rgb(243,148,190);
    background: linear-gradient(rgba(243,148,190,1), rgba(176,227,188,1), rgba(153,255,187,0.891281512605042));
 } */


.body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.sidebar{
    width: 600px;
    /* text-align: center; */
    background-color: #000;
    color: #fff;
    padding-top: 100px;
    padding-left: 60px;
    padding-right : 40px;
    justify-content: space-between;
    /*font-family: 'Protest Revolution', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    line-height: 50px;
}


.main-section{
    display: grid;
    /* align-items: center; */
    justify-items: center;
    background-color: #99ffbb;
    width: 100%;
    /* text-align: center; */
}

button{
       /* background: rgb(34,193,195); */
       background: radial-gradient(circle, rgba(221, 156, 113, 0.842) 0%, rgb(231, 225, 212) 100%);
       font-size:20px;
       padding: 10px 20px;
       border-radius: 100px;
       box-shadow: 0 20px 10px rgb(0, 0, 0, 0.2);
       transition: all 0.4s;
      }
 button:hover {
   background: linear-gradient(rgba(149, 188, 226, 0.726),rgba(236, 151, 151, 0.747));;
   transform: translateY(-3px);
   box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
 }

 p{

    color:bisque;
 }